**Андрей, привет!**

Меня зовут Артемьева Саша, я буду проверять твой проект. Приятно познакомиться, хоть и заочно:)
    
Предлагаю общаться на «ты» :) Но если это не удобно - дай знать, и мы перейдем на "вы". 

Моя основная цель — не указать на совершенные тобою ошибки, а поделиться своим опытом и помочь тебе стать аналитиком данных. Ты уже проделал большую работу над проектом, но давай сделаем его еще лучше. Ниже ты найдешь мои комментарии - пожалуйста, не перемещай, не изменяй и не удаляй их. Я буду использовать цветовую разметку:

<div class="alert alert-danger">
<b>❌ Комментарий ревьюера:</b> Так выделены самые важные замечания. Без их отработки проект не будет принят. </div>

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера:</b> Так выделены небольшие замечания. Одно-два таких замечания в проекте допустимы, но если их будет больше - тебе будет необходимо внести исправления. Это как тестовое задание при приеме на работу: очень много мелких ошибок могут стать причиной отказа кандидату. 

</div>

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b> Так я выделяю все остальные комментарии.</div>

Давай работать над проектом в диалоге: если ты что-то меняешь в проекте или отвечаешь на мои комменатри — пиши об этом. Мне будет легче отследить изменения, если ты выделишь свои комментарии:
<div class="alert alert-info"> <b>Комментарий студента:</b> Например, вот так.</div>

Всё это поможет выполнить повторную проверку твоего проекта оперативнее.

# Исследование надежности заемщиков.

**Цель исследорвания** - выяснить зависимость возврата кредита в срок от четырёх параметров заёмщиков:
* Количества детей
* Семейного положения
* Уровнем дохода
* Цели кредита

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b>  Молодец, что четко задал цель исследования! Сюда также можно включить план работы

# 1. Обзор данных

In [1]:
import pandas as pd

df = pd.read_csv('/datasets/data.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [2]:
df.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

Первичный обзор данных дал следующую информацию:
1. В таблице 12 столбцов: количество детей `('children')`, трудовой стаж в днях `('days_employed')`, возраст `('dob_years')`, образование `('education')`, id образования `('education_id')`, семейное положение `'family_status')`, id семейного положения `('family_status_id')`, пол `('gender')`, тип занятости `('income_type')`, наличие задолжностей по возврату кредитов `('debt')`, месячная зарплата `('total_income')`, цель кредита `('purpose')`.
2. В столбце `'days_employed'` странные записи: много отрицательных значений, а у 5-го клиента трудовой стаж равен 932 годам. Скорее всего это ошибка при записи данных.
3. Столбец `'education'` содержит неявные дубликаты: часть записей состоит только из строчных букв, часть из прописных, а часть содержит и строчные, и прописные буквы.
4. Столбец `'purpose'` так же содержит неявные дубликаты ('сыграть свадьбу' и 'на проведение свадьбы')
5. Количество пропусков в `'days_employed'` и `'total_income'` одинаковое. Возможно пропуски в `'total_income'` связаны с ошибками при записи в `'days_employed'`.
6. Данные в столбце `'days_employed'` и `'total_income'` `float`. Скорее всего, в них не будет неявных пропусков. Также это позволяет не беспокоиться при применении функций при расчётах.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b>  Увидели, с чем предстоит иметь дело

# 2.1 Заполнение пропусков

In [3]:
print('Количество дубликатов в таблице:', df.duplicated().sum())

# Это понадобится немного позже при работе с дубликатами

Количество дубликатов в таблице: 54

In [4]:
print(df['total_income'].isna().sum())
print(df['days_employed'].isna().sum())
print(f'Доля пропущенных значений в столбце "total_income" {df["total_income"].isna().sum() / df["total_income"].count():.1%}')
print(f'Доля пропущенных значений в столбце "days_employed" {df["days_employed"].isna().sum() / df["days_employed"].count():.1%}')

2174
2174
Доля пропущенных значений в столбце "total_income" 11.2%
Доля пропущенных значений в столбце "days_employed" 11.2%

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b>  Молодец, что нашел долю пропусков! Мы можем удалить не больше 5-7% датафрейма. Наши пропуски придется обработать

Количество пропусков в `'days_employed'` и `'total_income'` одинаковое. Вероятно пропуски в `'total_income'` зависят от пропусков в `'days_employed'`.

In [5]:
df[df['total_income'].isna() & df['days_employed'].isna()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2174 entries, 12 to 21510
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          2174 non-null   int64
 1   days_employed     0 non-null      float64
 2   dob_years         2174 non-null   int64
 3   education         2174 non-null   object
 4   education_id      2174 non-null   int64
 5   family_status     2174 non-null   object
 6   family_status_id  2174 non-null   int64
 7   gender            2174 non-null   object
 8   income_type       2174 non-null   object
 9   debt              2174 non-null   int64
 10  total_income      0 non-null      float64
 11  purpose           2174 non-null   object
dtypes: float64(2), int64(5), object(5)
memory usage: 220.8+ KB

Количество строк в таблице с пропусками в столбцах `'days_employed'` и `'total_income'` равно количеству пропусков в этих столбцах. Значения в столбце `'days_employed'` аномальны (есть как отрицательные, так и слишком большие значения), значит столбец `'total_income'` действительно зависит от `'days_employed'`.

In [6]:
df['total_income'].min()

20667.26379327158

In [7]:
df['total_income'].max()

2265604.028722744

Просмотрев первые 10 строк исходной таблицы, я заметил, что в столбце `'days_employed'` есть странные значения, и чтобы убедиться, что подобных странных значений нет в столбце `'total_income'`, я применил функции `min()` и `max()`.

Так как максимальное значение в столбце `'total_income'` превышает минимальное почти в 110 раз, поэтому пропуски в столбце я думаю лучше заменить на медианное значение, нежели на среднее.

In [8]:
df['total_income'] = df['total_income'].fillna(df['total_income'].median())

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

Замена пропусков в столбце `'total_income'` прошла успешно.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b>  Верно, медиана не подвержена вбросам

# 2.2 Проверка данных на аномалии и исправления.

In [9]:
print('Количество отрицательных значений в столбце "days_employed":' ,df[df['days_employed'] < 0]['days_employed'].count())
print(f'Доля отрицательных значений в столбце "days_employed" {df[df["days_employed"] < 0]["days_employed"].count() / df["days_employed"].count():.1%}')

Количество отрицательных значений в столбце "days_employed": 15906
Доля отрицательных значений в столбце "days_employed" 82.2%

In [10]:
abs(df['days_employed'].min()) / 365

50.38068465909146

Максимльный трудовой стаж в отрицательных значениях равен примерно 50 годам, что близко к правде, поэтому я думаю, что можно взять все значения из столбца `'days_employed'` по модулю.

In [11]:
df['days_employed'] = abs(df['days_employed'])
df['days_employed']

0          8437.673028
1          4024.803754
2          5623.422610
3          4124.747207
4        340266.072047
             ...
21520      4529.316663
21521    343937.404131
21522      2113.346888
21523      3112.481705
21524      1984.507589
Name: days_employed, Length: 21525, dtype: float64

In [12]:
# Среднее значение до обработки слишком высоких значений

df['days_employed'].mean()

66914.72890682236

In [13]:
df['days_employed'].min()

24.14163324048118

Все значения в столбце успешно взяты по модулю.

In [14]:
df.sort_values(by='days_employed', ascending=False).head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
6954,0,401755.400475,56,среднее,1,вдовец / вдова,2,F,пенсионер,0,176278.441171,ремонт жилью
10006,0,401715.811749,69,высшее,0,Не женат / не замужем,4,F,пенсионер,0,57390.256908,получение образования
7664,1,401675.093434,61,среднее,1,женат / замужем,0,F,пенсионер,0,126214.519212,операции с жильем
2156,0,401674.466633,60,среднее,1,женат / замужем,0,M,пенсионер,0,325395.724541,автомобили
7794,0,401663.850046,61,среднее,1,гражданский брак,1,F,пенсионер,0,48286.441362,свадьба
4697,0,401635.032697,56,среднее,1,женат / замужем,0,F,пенсионер,0,48242.322502,покупка недвижимости
13420,0,401619.633298,63,Среднее,1,гражданский брак,1,F,пенсионер,0,51449.788325,сыграть свадьбу
17823,0,401614.475622,59,среднее,1,женат / замужем,0,F,пенсионер,0,152769.694536,покупка жилья для сдачи
10991,0,401591.828457,56,среднее,1,в разводе,3,F,пенсионер,0,39513.517543,получение дополнительного образования
8369,0,401590.452231,58,среднее,1,женат / замужем,0,F,пенсионер,0,175306.312902,образование

Максимальные значения трудового стажа равны около 1100 лет. Вероятно ошибка привела к записи в часах, а не днях.

In [15]:
df['days_employed'].max()/24/365

45.8624886387363

Трудовой стаж в 45 лет выглядит гораздо логичнее, чем в 1110 лет.

In [16]:
# Функция, преобразовывающая часы в дни

def hours_to_days(wrong_days, age):
    correct_days = []
    for i in range(len(wrong_days)):
        if wrong_days[i] > ((age[i] - 16) * 365):
                correct_days.append(wrong_days[i] / 24)
        else:
            correct_days.append(wrong_days[i])
    return correct_days

In [17]:
# Проверка функции

a = [24, 401755]
b = [31, 56]
hours_to_days(a, b)

[24, 16739.791666666668]

In [18]:
df['days_employed'] = hours_to_days(df['days_employed'], df['dob_years'])

df['days_employed'].head(10)

0     8437.673028
1     4024.803754
2     5623.422610
3     4124.747207
4    14177.753002
5      926.185831
6     2879.202052
7      152.779569
8     6929.865299
9     2188.756445
Name: days_employed, dtype: float64

In [19]:
print('Медианное значение "days_employed" =', df['days_employed'].median())
print('Среднее значение "days_employed" =', df['days_employed'].mean())

Медианное значение "days_employed" = 2146.950218083361
Среднее значение "days_employed" = 4593.451031316111

Среднее значение после обработки аномально высоких значений сильно снизилось. Это значит, что замена трудового стажа в часах получилась.

Среднее значение трудового стажа гораздо выше медианного. Значит, что есть значения, которые сильно больше остальных, и среднее для заполнения пропусков не объективно. Поэтому, для заполнения пропусков лучше взять медианное значение.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b>  Верно

In [20]:
df['days_employed'] = df['days_employed'].fillna(df['days_employed'].median())

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

Пропуски в `'days_employed'` заполнены успешно.

In [21]:
df['children'].value_counts()

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

При просмотре значений столбца `'children'` были найдены аномальные значения `-1` и `20`. Скорее всего это опечатки, и я решил их заменить на `1` и `2` соответственно.

In [22]:
df['children'] = abs(df['children'])
df['children'] = df['children'].replace(20, 2)

df['children'].value_counts()

0    14149
1     4865
2     2131
3      330
4       41
5        9
Name: children, dtype: int64

Замена прошла успешно

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера:</b> Сейчас доля аномалий мала и ни на что не повлияет. В следующий раз старайся сразу высчитывать их долю и если она меньше 5%, смело избавляйся от нее. Возможно наше предположение о том, что 20==2, а -1==1 неверно

</div>

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера:</b> Можно было бы еще обработать странное значение в данных пола. Оно единично и ни на что не повлияет, но описать его следовало:)

</div>

# 2.3. Изменение типов данных.

In [23]:
df.dtypes

children              int64
days_employed       float64
dob_years             int64
education            object
education_id          int64
family_status        object
family_status_id      int64
gender               object
income_type          object
debt                  int64
total_income        float64
purpose              object
dtype: object

In [24]:
df['total_income'] = df['total_income'].astype(int)
df['days_employed'] = df['days_employed'].astype(int)

In [25]:
df.dtypes

children             int64
days_employed        int64
dob_years            int64
education           object
education_id         int64
family_status       object
family_status_id     int64
gender              object
income_type         object
debt                 int64
total_income         int64
purpose             object
dtype: object

Успешно изменил тип данных в `'days_employed'` и `'total_income'` с `float` на `int`

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера:</b> Можно еще заменять тип данных с float64 на float32 для экономии памяти

# 2.4. Удаление дубликатов.

In [26]:
df['education'].value_counts()

среднее                13750
высшее                  4718
СРЕДНЕЕ                  772
Среднее                  711
неоконченное высшее      668
ВЫСШЕЕ                   274
Высшее                   268
начальное                250
Неоконченное высшее       47
НЕОКОНЧЕННОЕ ВЫСШЕЕ       29
НАЧАЛЬНОЕ                 17
Начальное                 15
ученая степень             4
УЧЕНАЯ СТЕПЕНЬ             1
Ученая степень             1
Name: education, dtype: int64

In [27]:
correct_education = []

for i in range(len(df['education'])):
    correct_education.append(df['education'][i].lower())
    
df['education'] = correct_education

In [28]:
df['education'].value_counts()

среднее                15233
высшее                  5260
неоконченное высшее      744
начальное                282
ученая степень             6
Name: education, dtype: int64

При просмотре столбца `'education'` были выявлены неявные дубликаты, записанные разными способами. Используя функцию `'lower()'` я привёл все значения к одному регистру.

In [29]:
df['dob_years'].value_counts()

35    617
40    609
41    607
34    603
38    598
42    597
33    581
39    573
31    560
36    555
44    547
29    545
30    540
48    538
37    537
50    514
43    513
32    510
49    508
28    503
45    497
27    493
56    487
52    484
47    480
54    479
46    475
58    461
57    460
53    459
51    448
59    444
55    443
26    408
60    377
25    357
61    355
62    352
63    269
64    265
24    264
23    254
65    194
66    183
22    183
67    167
21    111
0     101
68     99
69     85
70     65
71     58
20     51
72     33
19     14
73      8
74      6
75      1
Name: dob_years, dtype: int64

In [30]:
print('Доля аномального значения "0" в столбце "dob_years":', df[df['dob_years'] == 0]['dob_years'].count() / df['dob_years'].count())

Доля аномального значения "0" в столбце "dob_years": 0.004692218350754936

Так как доля значения `'0'` в столбце `'dob_years'` очень мала, я думаю, что оно не окажет существенного влияния на ход исследования, и поэтому оставлю его как есть.

In [31]:
print('Количество дубликатов после преобразований в таблице:', df.duplicated().sum())

Количество дубликатов после преобразований в таблице: 71

Число дубликатов немного выросло после проведённых преобразований. Вероятнее всего, изначальные дубликаты были на месте некоторых пропусков, а новые появились после обработки неявных дубликатов.

In [32]:
df = df.drop_duplicates().reset_index(drop=True)
df.duplicated().sum()

0

Дубликаты успешно устранены.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b> Отлично! Удалять явные дубли можно только после полной обработки данных:
        
- необходимо заполнить все пропуски
- обработать аномальные значения
- привести данные к единому регистру (избавиться от неявных дублей)
- после этого удалять явные дубли

# 2.5. Формирование дополнительных датафреймов словарей, декомпозиция исходного датафрейма.

In [33]:
# Изначально я создавал "словари" с помощью сводных таблиц, но как оказалось далее с ними было неудобно работать,
# поэтому я переделал их.

#education_dict = df.pivot_table(index='education', values='education_id').sort_values(by='education_id')
#education_dict

columns = ['education_id', 'education']
rows = [[0, 'высшее'],
       [1, 'среднее'],
       [2, 'неоконченное высшее'],
       [3, 'начальное'],
       [4, 'ученая степень']]

education_dict = pd.DataFrame(data=rows, columns=columns)
education_dict

   education_id            education
0             0               высшее
1             1              среднее
2             2  неоконченное высшее
3             3            начальное
4             4       ученая степень

In [34]:
#family_status_dict = df.pivot_table(index='family_status', values='family_status_id').sort_values(by='family_status_id')
#family_status_dict

columns = ['family_status_id', 'family_status']
rows = [[0, 'женат / замужем'],
       [1, 'гражданский брак'],
       [2, 'вдовец / вдова'],
       [3, 'в разводе'],
       [4, 'Не женат / не замужем']]

family_status_dict = pd.DataFrame(data=rows, columns=columns)
family_status_dict

   family_status_id          family_status
0                 0        женат / замужем
1                 1       гражданский брак
2                 2         вдовец / вдова
3                 3              в разводе
4                 4  Не женат / не замужем

In [35]:
df = df.drop(columns=['education', 'family_status'], axis=1)
df

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437,42,0,0,F,сотрудник,0,253875,покупка жилья
1,1,4024,36,1,0,F,сотрудник,0,112080,приобретение автомобиля
2,0,5623,33,1,0,M,сотрудник,0,145885,покупка жилья
3,3,4124,32,1,0,M,сотрудник,0,267628,дополнительное образование
4,0,14177,53,1,1,F,пенсионер,0,158616,сыграть свадьбу
...,...,...,...,...,...,...,...,...,...,...
21449,1,4529,43,1,1,F,компаньон,0,224791,операции с жильем
21450,0,14330,67,1,0,F,пенсионер,0,155999,сделка с автомобилем
21451,1,2113,38,1,1,M,сотрудник,1,89672,недвижимость
21452,3,3112,38,1,0,M,сотрудник,1,244093,на покупку своего автомобиля
21453,2,1984,40,1,0,F,сотрудник,0,82047,на покупку автомобиля

С помощью метода `'pd.DataFrame()'` я создал таблицы-словари для образования и семейного положения.

С помощью метода `'drop()'` я удалил из исходной таблицы столбцы `'education'` и `'family_status'`.

# 2.6. Категоризация дохода.

In [36]:
# Функция возвращающая значение категории в зависимости от размеров месячного дохода

def income_category(income):
    try:
        if 0 < income <= 30000:
            return 'E'
        if 30000 < income <= 50000:
            return 'D'
        if 50000 < income <= 200000:
            return 'C'
        if 200000 < income <= 1000000:
            return 'B'
        if 1000000 < income:
            return 'A'
    except:
        return income

In [37]:
# Проверка функции
print(income_category(25000))
print(income_category(235000))
print(income_category('четыре'))

E
B
четыре

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b> Молодец, что делаешь проверку работоспособности функции. Это очень важный шаг

In [38]:
df['total_income_category'] = df['total_income'].apply(income_category)
df.head(10)

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,1,8437,42,0,0,F,сотрудник,0,253875,покупка жилья,B
1,1,4024,36,1,0,F,сотрудник,0,112080,приобретение автомобиля,C
2,0,5623,33,1,0,M,сотрудник,0,145885,покупка жилья,C
3,3,4124,32,1,0,M,сотрудник,0,267628,дополнительное образование,B
4,0,14177,53,1,1,F,пенсионер,0,158616,сыграть свадьбу,C
5,0,926,27,0,1,M,компаньон,0,255763,покупка жилья,B
6,0,2879,43,0,0,F,компаньон,0,240525,операции с жильем,B
7,0,152,50,1,0,M,сотрудник,0,135823,образование,C
8,2,6929,35,0,1,F,сотрудник,0,95856,на проведение свадьбы,C
9,0,2188,41,1,0,M,сотрудник,0,144425,покупка жилья для семьи,C

С помощью написанной функции я добавил к таблице новый столбец, разбивающий клиентов на категории по доходам.

In [39]:
df['total_income_category'].value_counts()

C    16016
B     5041
D      350
A       25
E       22
Name: total_income_category, dtype: int64

Больше всего оказалось клиентов с зарплатой от `50000` до `200000`.

# 2.7. Категоризация целей кредита.

In [40]:
df['purpose'].value_counts()

свадьба                                   791
на проведение свадьбы                     768
сыграть свадьбу                           765
операции с недвижимостью                  675
покупка коммерческой недвижимости         661
операции с жильем                         652
покупка жилья для сдачи                   651
операции с коммерческой недвижимостью     650
покупка жилья                             646
жилье                                     646
покупка жилья для семьи                   638
строительство собственной недвижимости    635
недвижимость                              633
операции со своей недвижимостью           627
строительство жилой недвижимости          624
покупка недвижимости                      621
покупка своего жилья                      620
строительство недвижимости                619
ремонт жилью                              607
покупка жилой недвижимости                606
на покупку своего автомобиля              505
заняться высшим образованием              496
автомобиль                                494
сделка с подержанным автомобилем          486
на покупку подержанного автомобиля        478
автомобили                                478
свой автомобиль                           478
на покупку автомобиля                     471
приобретение автомобиля                   461
дополнительное образование                460
сделка с автомобилем                      455
высшее образование                        452
образование                               447
получение дополнительного образования     446
получение образования                     442
профильное образование                    436
получение высшего образования             426
заняться образованием                     408
Name: purpose, dtype: int64

С содержанием столбца`'purpose'` всё в порядке. Значения этого столбца поправлять не нужно.

In [41]:
# Функция для категоризации целей кредита

def category_for_purpose(purpose):
    try:
        if 'жиль' in purpose:
            return 'операции с недвижимостью'
        if 'недвижимост' in purpose:
            return 'операции с недвижимостью'
        if 'свадьб' in purpose:
            return 'проведение свадьбы'
        if 'образован' in purpose:
            return 'получение образования'
        if 'автомобил' in purpose:
            return 'операции с автомобилем'
    except:
        return purpose

In [42]:
# Проверка функции

print(category_for_purpose('ремонт жилью'))
print(category_for_purpose('покупка жилой недвижимости'))
print(category_for_purpose('сыграть свадьбу'))
print(category_for_purpose('заняться образованием'))
print(category_for_purpose('свой автомобиль'))
print(category_for_purpose(9))

операции с недвижимостью
операции с недвижимостью
проведение свадьбы
получение образования
операции с автомобилем
9

In [43]:
df['purpose_category'] = df['purpose'].apply(category_for_purpose)

In [44]:
df['purpose_category'].head(10)

0    операции с недвижимостью
1      операции с автомобилем
2    операции с недвижимостью
3       получение образования
4          проведение свадьбы
5    операции с недвижимостью
6    операции с недвижимостью
7       получение образования
8          проведение свадьбы
9    операции с недвижимостью
Name: purpose_category, dtype: object

Категоризация по цели кредита прошла успешно.

In [45]:
df['purpose_category'].value_counts()

операции с недвижимостью    10811
операции с автомобилем       4306
получение образования        4013
проведение свадьбы           2324
Name: purpose_category, dtype: int64

Самая частая цель для кредита - операции с недвижимостью.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b> Категоризация выполнена корректно

# Ответы на вопросы.

**Вопрос 1: Есть ли зависимость между количеством детей и возвратом кредита в срок?**

In [46]:
children_debt_table = df.pivot_table(index='children', columns='debt', values='gender', aggfunc='count')
children_debt_table['%'] = children_debt_table[1] / (children_debt_table[0] + children_debt_table[1]) * 100
children_debt_table

debt            0       1         %
children
0         13028.0  1063.0  7.543822
1          4410.0   445.0  9.165808
2          1926.0   202.0  9.492481
3           303.0    27.0  8.181818
4            37.0     4.0  9.756098
5             9.0     NaN       NaN

**Вывод 1:**
Люди, не имеющие детей, возвращают кредит в срок несущественно чаще, чем люди имеющие детей. Также оказалось, что клиенты имеющие 5 детей вообще не имеют просроченных кредитов (как мне кажется, это связано с небольшой выборкой: всего 9 человек имеют 5 детей).

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера:</b> Отличная работа со сводной таблицей! Если сделать аггрегацию еще и по среднему, сразу найдем долю и нам не придется высчитывать ее вручную:)

        
        data.pivot_table(index="category_children", values="debt", aggfunc=['sum','count','mean'])
    
        (можно добавить в конец .applymap(lambda x: "{:.0f}%".format(100*x)), чтобы вывести процент)
        
Так оптимизируем код до строки)

**Вопрос 2: Есть ли зависимость между семейным положением и возвратом кредита в срок?**

In [47]:
family_status_debt_table = df.pivot_table(index='family_status_id', columns='debt', values='gender', aggfunc='count')
family_status_debt_table['%'] = family_status_debt_table[1] / (family_status_debt_table[0] + family_status_debt_table[1]) * 100
family_status_debt_table.merge(family_status_dict, on='family_status_id', how='left')

   family_status_id      0    1         %          family_status
0                 0  11408  931  7.545182        женат / замужем
1                 1   3763  388  9.347145       гражданский брак
2                 2    896   63  6.569343         вдовец / вдова
3                 3   1110   85  7.112971              в разводе
4                 4   2536  274  9.750890  Не женат / не замужем

**Вывод 2:** Вдовцы и вдовы возвращают кредиты в срок гораздо чаще, нежели клиенты, не состоящие в браке или состоящие в гражданском браке.

**Вопрос 3: Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [48]:
total_income_debt_table = df.pivot_table(index='total_income_category', columns='debt', values='gender', aggfunc='count')
total_income_debt_table['%'] = total_income_debt_table[1] / (total_income_debt_table[0] + total_income_debt_table[1]) * 100
total_income_debt_table

debt                       0     1         %
total_income_category
A                         23     2  8.000000
B                       4685   356  7.062091
C                      14656  1360  8.491508
D                        329    21  6.000000
E                         20     2  9.090909

**Вывод 3:** Чаще всех возвращают кредит в срок клиенты с категорией доходов **D**. Достаточно высокую долю просроченных платежей по кредитам в категориях **A** и **Е** можно объяснить небольшой выборкой.

**Вопрос 4: Как разные цели кредита влияют на его возврат в срок?**

In [50]:
purpose_debt_table = df.pivot_table(index='purpose_category', columns='debt', values='gender', aggfunc='count')
purpose_debt_table['%'] = purpose_debt_table[1] / (purpose_debt_table[0] + purpose_debt_table[1]) * 100
purpose_debt_table

debt                          0    1         %
purpose_category
операции с автомобилем     3903  403  9.359034
операции с недвижимостью  10029  782  7.233373
получение образования      3643  370  9.220035
проведение свадьбы         2138  186  8.003442

**Вывод 4:** Кредиты, взятые для операций с недвижимостью, возвращают в срок немного чаще, чем кредиты взятые на другие цели.

# Общий вывод:

Существенно на возврат кредита в срок не влияет ни один из выбранных в начале исследования параметров.

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера:</b>  Вывод - это полный отчет о проделанной работе. Он должен содержать все: от обработки данных до рекомендаций заказчику. Я бы советовала в начале кратко описывать, с какими данными мы работали и что сделали, а затем отвечать на вопрос исследования - в нашем случае, рекомендовать заказчику, как формировать модель кредитного скоринга. Даже небольшие расхождения в процентном отношении можно считать влиянием

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b> Спасибо за проект! Видно, что ты старался и он получился очень сильным. Ты аккуратно работаешь с данными и выносишь качественные предположения - как настоящий аналитик. Критичных замечаний нет. Оставила направляющие комментарии. Я бы хотела принять твою работу с первого раза. Если у тебя будут вопросы, смело задавай их через куратора. Удачи на следующих этапах!